/*---------------------------------------------------
    LESS Elements 0.6
  ---------------------------------------------------
    A set of useful LESS mixins by Dmitry Fadeyev
    Special thanks for mixin suggestions to:
      Kris Van Herzeele,
      Benoit Adam,
      Portenart Emile-Victor,
      Ryan Faerman

    Additional mixins by Kevin Jantzer

    More info at: http://lesselements.com
-----------------------------------------------------*/
.clear {
  border: none;
  float: none;
  clear: both;
  background: no-repeat;
  margin: 0;
  padding: 0;
}
.clearfix:before,
.container:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
/*
	Arrows 
*/
/* @end Arrows */
/* Center text */
h1.center,
h2.center,
h3.center,
h4.center,
h5.center,
h6.center,
p.center {
  text-align: center;
}
.cursive {
  color: #999;
  font-family: 'Times New Roman';
  font-style: italic;
  font-size: .85em;
  text-transform: none;
}
.ucase,
.caps {
  text-transform: uppercase;
}
.lcase {
  text-transform: lowercase;
}
ins {
  color: green;
  background: #DFD;
  text-decoration: none;
}
del {
  color: red;
  background: #FDD;
  text-decoration: none;
}
.text-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
/* make any element look like a link */
.link {
  cursor: pointer;
}
.link:hover {
  text-decoration: underline;
}
/* hide elements based on whether they have content */
.hide-on-empty[data-content=""],
.hide-on-zero[data-content=""],
.hide-on-zero[data-content="0"] {
  display: none !important;
}
/* github style code element */
code {
  margin: 0 2px;
  padding: 0px 5px;
  border: 1px solid #eaeaea;
  background-color: #f8f8f8;
  border-radius: 3px;
  font-size: 12px;
  font-family: Consolas, "Liberation Mono", Courier, monospace;
}
/* creates a divider line with text
    expects <el><span>Title Here</span></el> (where el = h1, h2, etc)
*/
h1.divider,
h2.divider,
h3.divider,
h4.divider,
h5.divider,
h6.divider,
p.divider {
  position: relative;
  color: #999;
  /* create the dashed line */
}
h1.divider > span,
h2.divider > span,
h3.divider > span,
h4.divider > span,
h5.divider > span,
h6.divider > span,
p.divider > span {
  background: #fff;
  position: relative;
  padding-right: 10px;
}
h1.divider > span + span,
h2.divider > span + span,
h3.divider > span + span,
h4.divider > span + span,
h5.divider > span + span,
h6.divider > span + span,
p.divider > span + span {
  padding-right: 0;
  padding-left: 10px;
}
h1.divider.align-right,
h2.divider.align-right,
h3.divider.align-right,
h4.divider.align-right,
h5.divider.align-right,
h6.divider.align-right,
p.divider.align-right {
  text-align: right;
}
h1.divider.align-right > span,
h2.divider.align-right > span,
h3.divider.align-right > span,
h4.divider.align-right > span,
h5.divider.align-right > span,
h6.divider.align-right > span,
p.divider.align-right > span {
  padding-left: 10px;
  padding-right: 0;
}
h1.divider.align-center,
h2.divider.align-center,
h3.divider.align-center,
h4.divider.align-center,
h5.divider.align-center,
h6.divider.align-center,
p.divider.align-center {
  text-align: center;
}
h1.divider.align-center > span,
h2.divider.align-center > span,
h3.divider.align-center > span,
h4.divider.align-center > span,
h5.divider.align-center > span,
h6.divider.align-center > span,
p.divider.align-center > span {
  padding-left: 10px;
  padding-right: 10px;
}
h1.divider:before,
h2.divider:before,
h3.divider:before,
h4.divider:before,
h5.divider:before,
h6.divider:before,
p.divider:before {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  height: 1px;
  width: 100%;
  border-top: solid 1px #ccc;
}
h1.divider.dashed:before,
h2.divider.dashed:before,
h3.divider.dashed:before,
h4.divider.dashed:before,
h5.divider.dashed:before,
h6.divider.dashed:before,
p.divider.dashed:before {
  border-top-style: dashed;
}
/* creates iOS itunes style label divider
    great for seperating items in lists
*/
/* make things look like a stamp */
.stamp {
  text-transform: uppercase;
  border: solid 3px #222;
  display: inline-block;
  padding: .5em;
  color: #222;
  font-family: Impact;
  font-size: 1em;
  -webkit-transform: rotate(-20deg);
  -moz-transform: rotate(-20deg);
  transform: rotate(-20deg);
  position: absolute;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  text-shadow: none;
}
/* simple and subtle tabs */
.tabs {
  border-bottom: solid 1px #ccc;
  padding: 0 5px;
  margin-bottom: 10px;
}
.tabs.pull-out {
  padding: 0 15px;
}
.tabs > a {
  cursor: default;
  text-decoration: none !important;
  display: inline-block;
  padding: 7px 10px;
  color: #aaa;
  -webkit-border-top-right-radius: 3px;
  -webkit-border-bottom-right-radius: 0px;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-top-left-radius: 3px;
  -moz-border-radius-topright: 3px;
  -moz-border-radius-bottomright: 0px;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-topleft: 3px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0;
  border-top-left-radius: 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  margin-bottom: -1px;
  float: left;
  border: solid 1px transparent;
}
.tabs > a:not(.active):hover {
  cursor: pointer;
  color: #333;
}
.tabs > a + a {
  margin-left: -1px;
}
.tabs > a.active {
  border-color: #ccc;
  border-bottom-color: #fff;
}
/*
	.field has a .backbone class because we dont' want to override existing .field classnames
*/
textarea {
  margin: 0;
  resize: none;
}
select {
  max-width: 100%;
  position: relative;
  font-size: 1em;
  padding: 5px 27px 5px 9px;
  margin: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-box-shadow: inset 0px 1px 0px #ffffff;
  -moz-box-shadow: inset 0px 1px 0px #ffffff;
  box-shadow: inset 0px 1px 0px #ffffff;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: solid 1px #ccc;
  color: #555;
  text-shadow: #fff 0 1px 0;
  background: url('/common/img/select_down.png'), -webkit-gradient(linear, left bottom, left top, color-stop(0, #eeeeee), color-stop(1, #f9f9f9));
  background: url('/common/img/select_down.png'), -ms-linear-gradient(bottom, #eeeeee, #f9f9f9);
  background: url('/common/img/select_down.png'), -moz-linear-gradient(center bottom, #eeeeee 0%, #f9f9f9 100%);
  background-position: right center;
  background-repeat: no-repeat;
  -webkit-transition: all 120ms ease-out;
  -moz-transition: all 120ms ease-out;
  transition: all 120ms ease-out;
}
select:hover:not(:disabled),
select:focus:not(:disabled) {
  -webkit-box-shadow: #cccccc 0 0 7px;
  -moz-box-shadow: #cccccc 0 0 7px;
  box-shadow: #cccccc 0 0 7px;
}
select:disabled {
  cursor: default;
  color: #aaa;
}
@-moz-document url-prefix() {
  select {
    text-overflow: '';
    text-indent: 1px;
    -moz-appearance: none;
    padding-right: 0px !important;
  }
}
.model-editor {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 1em;
  /*
		Tribox / Checkbox
	*/
}
.model-editor > label {
  min-height: 5px;
  max-width: 100%;
}
.model-editor .inner {
  display: inline-block;
  position: relative;
  max-width: 100%;
  line-height: 1.2em;
}
.model-editor .inner .proofing-light {
  position: absolute;
  top: 0;
  right: -12px;
}
.model-editor .inner > input,
.model-editor .inner > textarea {
  margin: 0;
  resize: none;
}
.model-editor .inner > input[type="text"]:not(.search),
.model-editor .inner > input[type="email"],
.model-editor .inner > input[type="date"],
.model-editor .inner > input[type="number"],
.model-editor .inner > input[type="password"],
.model-editor .inner > textarea,
.model-editor .inner > .redactor_box .redactor_editor {
  max-width: 100%;
  background: #F9F9F9;
  border: 1px solid #CCC;
  -webkit-box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.1);
  box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.1);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  font-family: Calibri, 'Lucida Grande';
  font-size: 16px;
  color: #222;
  /* .transition(200ms); */
}
.model-editor .inner > input[type="text"]:not(.search).invalid,
.model-editor .inner > input[type="email"].invalid,
.model-editor .inner > input[type="date"].invalid,
.model-editor .inner > input[type="number"].invalid,
.model-editor .inner > input[type="password"].invalid,
.model-editor .inner > textarea.invalid,
.model-editor .inner > .redactor_box .redactor_editor.invalid {
  border-color: #ff0000;
  -webkit-box-shadow: #ff0000 0 0 7px;
  -moz-box-shadow: #ff0000 0 0 7px;
  box-shadow: #ff0000 0 0 7px;
}
.model-editor .inner > input[type="text"]:not(.search):focus,
.model-editor .inner > input[type="email"]:focus,
.model-editor .inner > input[type="date"]:focus,
.model-editor .inner > input[type="number"]:focus,
.model-editor .inner > input[type="password"]:focus,
.model-editor .inner > textarea:focus,
.model-editor .inner > .redactor_box .redactor_editor:focus {
  border-color: #aaa !important;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  color: #000;
}
.model-editor .inner select {
  max-width: 100%;
  position: relative;
  font-size: 1em;
  padding: 5px 27px 5px 9px;
  margin: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  text-overflow: '';
  -webkit-box-shadow: inset 0px 1px 0px #ffffff;
  -moz-box-shadow: inset 0px 1px 0px #ffffff;
  box-shadow: inset 0px 1px 0px #ffffff;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: solid 1px #ccc;
  color: #555;
  text-shadow: #fff 0 1px 0;
  background: url('/common/img/select_down.png'), -webkit-gradient(linear, left bottom, left top, color-stop(0, #eeeeee), color-stop(1, #f9f9f9));
  background: url('/common/img/select_down.png'), -ms-linear-gradient(bottom, #eeeeee, #f9f9f9);
  background: url('/common/img/select_down.png'), -moz-linear-gradient(center bottom, #eeeeee 0%, #f9f9f9 100%);
  background-position: right center;
  background-repeat: no-repeat;
  -webkit-transition: all 120ms ease-out;
  -moz-transition: all 120ms ease-out;
  transition: all 120ms ease-out;
}
.model-editor .inner select:hover:not(:disabled),
.model-editor .inner select:focus:not(:disabled) {
  -webkit-box-shadow: #cccccc 0 0 7px;
  -moz-box-shadow: #cccccc 0 0 7px;
  box-shadow: #cccccc 0 0 7px;
}
.model-editor .inner select:disabled {
  cursor: default;
  color: #aaa;
}
.model-editor.disabled input[type="text"]:not(.search),
.model-editor.disabled input[type="email"],
.model-editor.disabled input[type="date"],
.model-editor.disabled input[type="number"],
.model-editor.disabled input[type="password"],
.model-editor.disabled textarea,
.model-editor.disabled .redactor_box,
.model-editor.disabled .checkbox {
  pointer-events: none;
  opacity: .6;
}
.model-editor.inline-label > label {
  display: inline-block;
  margin-right: 1em;
  font-size: .9em;
  vertical-align: top;
  font-weight: 300;
}
.model-editor.label-style-large > label {
  font-size: 22px;
  line-height: 28px;
  vertical-align: top;
  margin-top: 0;
}
.model-editor.label-style-medium > label {
  font-size: 18px;
  line-height: 28px;
  vertical-align: top;
  margin-top: 0;
}
.model-editor.label-style-medium-large > label {
  font-size: 20px;
  line-height: 28px;
  vertical-align: top;
  margin-top: 0;
}
.model-editor.float-left {
  float: left;
}
.model-editor.float-right {
  float: right;
}
.model-editor + .model-editor:not(.clear) {
  margin-left: 15px;
}
.model-editor.clear {
  clear: left;
}
.model-editor.float-left + .clear {
  clear: left;
}
.model-editor.float-right + .clear {
  clear: right;
}
.model-editor.float-right + .float-left + .clear {
  clear: both;
}
.model-editor.has-btns input,
.model-editor.has-btns textarea,
.model-editor.has-btns .redactor_editor {
  padding-right: 18px;
}
.model-editor.has-btns .btns {
  position: absolute;
  top: 0;
  right: 0;
  -webkit-border-top-right-radius: 3px;
  -webkit-border-bottom-right-radius: 3px;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-top-left-radius: 0;
  -moz-border-radius-topright: 3px;
  -moz-border-radius-bottomright: 3px;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-topleft: 0;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  width: 20px;
  height: 100%;
  visibility: hidden;
}
.model-editor.has-btns .button.save,
.model-editor.has-btns .button.cancel {
  padding: 1px 2px;
  margin: 0px;
  font-size: .8em;
  position: absolute;
  top: 0px;
  right: 0px;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 75ms ease-out;
  -moz-transition: all 75ms ease-out;
  transition: all 75ms ease-out;
  height: 50%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.model-editor.has-btns .button.save:not(:hover),
.model-editor.has-btns .button.cancel:not(:hover) {
  border-color: #aaa;
}
.model-editor.has-btns .button.save {
  -webkit-border-top-right-radius: 3px;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-top-left-radius: 0;
  -moz-border-radius-topright: 3px;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-topleft: 0;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border-bottom: none;
}
.model-editor.has-btns .button.cancel {
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-right-radius: 3px;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-top-left-radius: 0;
  -moz-border-radius-topright: 0;
  -moz-border-radius-bottomright: 3px;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-topleft: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  top: auto;
  bottom: 0px;
}
.model-editor.has-btns.editing .btns,
.model-editor.has-btns.editing .button.save,
.model-editor.has-btns.editing .button.cancel {
  visibility: visible;
  opacity: 1;
}
.model-editor.textarea.rte .redactor_toolbar {
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 120ms ease-out;
  -moz-transition: all 120ms ease-out;
  transition: all 120ms ease-out;
}
.model-editor.textarea.rte:not(.editing) .redactor_toolbar {
  -webkit-transition-delay: 10ms;
  -moz-transition-delay: 10ms;
  transition-delay: 10ms;
}
.model-editor.textarea.rte.editing .redactor_toolbar {
  opacity: 1;
  visibility: visible;
}
.model-editor.textarea.rte .redactor_box {
  height: auto;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border: none;
}
.model-editor.textarea.rte textarea {
  font-size: .9em;
  font-family: Consolas, "Liberation Mono", Courier, monospace;
}
.model-editor.checkbox label {
  vertical-align: initial;
  cursor: default;
}
.model-editor.inline-checkbox label {
  float: right;
  margin: 5px 0 0 .5em;
  font-size: 1.15em;
}
.model-editor.empty .inner > p:first-child {
  margin-top: .25em;
}
.model-editor.theme-text input[type="text"],
.model-editor.theme-text input[type="email"],
.model-editor.theme-text input[type="date"],
.model-editor.theme-text input[type="number"],
.model-editor.theme-text input[type="password"],
.model-editor.theme-text textarea,
.model-editor.theme-text .redactor_box .redactor_editor {
  background: none !important;
  border-color: transparent !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
  margin-left: -5px;
  line-height: 1em;
}
.model-editor.theme-text:not(.editing):not(.disabled):hover input[type="text"],
.model-editor.theme-text:not(.editing):not(.disabled):hover input[type="email"],
.model-editor.theme-text:not(.editing):not(.disabled):hover input[type="date"],
.model-editor.theme-text:not(.editing):not(.disabled):hover input[type="number"],
.model-editor.theme-text:not(.editing):not(.disabled):hover input[type="password"],
.model-editor.theme-text:not(.editing):not(.disabled):hover textarea,
.model-editor.theme-text:not(.editing):not(.disabled):hover .redactor_box .redactor_editor {
  border: solid 1px #ddd !important;
}
.model-editor.theme-text.editing input[type="text"],
.model-editor.theme-text.editing input[type="email"],
.model-editor.theme-text.editing input[type="date"],
.model-editor.theme-text.editing input[type="number"],
.model-editor.theme-text.editing input[type="password"],
.model-editor.theme-text.editing textarea,
.model-editor.theme-text.editing .redactor_box .redactor_editor {
  background: none !important;
  border-color: transparent !important;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border: solid 1px #aaa !important;
}
.model-editor.theme-thin select {
  padding-top: 1px;
  padding-bottom: 1px;
}
.model-editor.theme-thin.checkbox label {
  margin-top: 2px;
}
.model-editor.theme-thin.checkbox .checkbox {
  width: 18px;
  height: 18px;
}
.model-editor.theme-thin.checkbox .checkbox:before {
  font-size: 1em;
}
.model-editor.theme-quote input[type="text"],
.model-editor.theme-quote input[type="email"],
.model-editor.theme-quote input[type="date"],
.model-editor.theme-quote input[type="number"],
.model-editor.theme-quote input[type="password"],
.model-editor.theme-quote textarea,
.model-editor.theme-quote .redactor_box .redactor_editor {
  overflow: visible;
}
.model-editor.theme-quote input[type="text"]:before,
.model-editor.theme-quote input[type="email"]:before,
.model-editor.theme-quote input[type="date"]:before,
.model-editor.theme-quote input[type="number"]:before,
.model-editor.theme-quote input[type="password"]:before,
.model-editor.theme-quote textarea:before,
.model-editor.theme-quote .redactor_box .redactor_editor:before {
  content: '';
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 8px solid #dddddd;
  position: absolute;
  left: 50%;
  margin-top: -8px;
  left: 5px;
  bottom: -9px;
}
.model-editor.theme-checkonly span.checkbox[type="checkbox"].off:before {
  display: none;
}
.model-editor + .button[class^="icon-"].icon-only,
.model-editor + .button[class*=" icon-"].icon-only,
.model-editor + .button {
  padding: 7px 8px 6px 8px;
  margin: 22px 0 0 15px;
}
.model-editor .model-editor.float-left + p.left,
.model-editor .model-editor.float-right + p.right {
  line-height: 2.4em;
  margin-left: .5em;
  margin-right: .5em;
}
.model-editor .defined-by {
  top: -10px;
  right: -16px;
}
.model-editor span.checkbox[type="checkbox"] {
  position: relative;
  display: inline-block;
  width: 27px;
  height: 27px;
  cursor: pointer;
  border: solid 1px #ccc;
  text-shadow: #fff 0 1px 0;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #eeeeee), color-stop(1, #f9f9f9));
  background: -ms-linear-gradient(bottom, #eeeeee, #f9f9f9);
  background: -moz-linear-gradient(center bottom, #eeeeee 0%, #f9f9f9 100%);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  vertical-align: middle;
}
.model-editor span.checkbox[type="checkbox"].disabled {
  cursor: default;
  opacity: .5;
}
.model-editor span.checkbox[type="checkbox"]:not(.disabled):hover {
  -webkit-box-shadow: #cccccc 0 0 7px;
  -moz-box-shadow: #cccccc 0 0 7px;
  box-shadow: #cccccc 0 0 7px;
}
.model-editor span.checkbox[type="checkbox"]:before {
  font-family: 'kjc-icon-font';
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1.1em;
  text-align: center;
  vertical-align: top;
  text-decoration: none;
  opacity: 0.8;
  line-height: 1.2em;
  font-size: 1.5em;
  color: #999;
  position: absolute;
  left: 0;
}
.model-editor span.checkbox[type="checkbox"].on:before {
  content: '\2713';
  /* checkmark */
  color: inherit;
}
.model-editor span.checkbox[type="checkbox"].off:before {
  content: '\2715';
  /* x */
}
